<div>
  <h2 id="page-heading" data-cy="VenderHeading">
    <span jhiTranslate="saraswathimedicalsApp.vender.home.title">Venders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="saraswathimedicalsApp.vender.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vender"
        [routerLink]="['/vender/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="saraswathimedicalsApp.vender.home.createLabel"> Create a new Vender </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="venders?.length === 0">
    <span jhiTranslate="saraswathimedicalsApp.vender.home.notFound">No venders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="venders && venders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="saraswathimedicalsApp.vender.name">Name</span></th>
          <th scope="col"><span jhiTranslate="saraswathimedicalsApp.vender.address">Address</span></th>
          <th scope="col"><span jhiTranslate="saraswathimedicalsApp.vender.contact">Contact</span></th>
          <th scope="col"><span jhiTranslate="saraswathimedicalsApp.vender.date">Date</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vender of venders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vender', vender.id, 'view']">{{ vender.id }}</a>
          </td>
          <td>{{ vender.name }}</td>
          <td>{{ vender.address }}</td>
          <td>{{ vender.contact }}</td>
          <td>{{ vender.date | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/vender', vender.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/vender', vender.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vender)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
